---
import LayoutPrincipal from '../../layouts/LayoutPrincipal.astro';
export const prerender = false;
---

<LayoutPrincipal title="Mis contactos">
  <h1>Hola aqui estaran los contactos de usuario en sesión</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, unde!</p>
</LayoutPrincipal>
