---
/* firebase */
import { app } from '../firebase/server';
import { getAuth } from 'firebase-admin/auth';

/* Componenentes */

import { SeccionPublicaciones } from '../components/react/feed/SeccionPublicaciones';
import { SugerenciasContactos } from '../components/react/SugerenciasContactos';

import LayoutPrincipal from '../layouts/LayoutPrincipal.astro';
import { BASE_URL_API } from '../config';

import { TarjetaUsuario } from '../components/auth/TarjetaUsuario';

const auth = getAuth(app);
/* Verifica si esta en sesión */
if (!Astro.cookies.has('session')) {
  return Astro.redirect('/login');
}
const sessionCookie = Astro.cookies.get('session').value;
const decodedCookie = await auth.verifySessionCookie(sessionCookie);
/* Información del usuario, sus credenciales */
const userAuth = await auth.getUser(decodedCookie.uid);
const res = await fetch(`${BASE_URL_API}/api/usuarios/obtenerUsuario`, {
  method: 'POST',
  body: JSON.stringify({ uid: userAuth.uid }),
});

// console.log(Astro.locals)

const { infoUsuario } = await res.json();

const user = { ...userAuth, ...infoUsuario };

if (!user) {
  return Astro.redirect('/signin');
}
---

<LayoutPrincipal classNameLayout="static" title="Recicanje">
  <div
    id="page-feed"
    class="flex flex-col items-start md:flex-row gap-5 seccion-observar"
  >
    <!-- RESUMEN DE LA INFORMACIÖN DEL USUARIO -> TARJETICA BIEN MELA -->
    <TarjetaUsuario
      className=" md:sticky md:top-[5em]"
      user={user}
      client:only
    />

    <!-- FEED -->
    <SeccionPublicaciones user={user} client:only />

    <!-- ARTICLE -->

    <SugerenciasContactos client:only user={user} />
  </div>
</LayoutPrincipal>

<script></script>
