---

---

<main>
  Aqui va ir la super landing page del diablo loco de Recicanje ahora que lo
  pienso tenemos una página login en donde esta el formulario para loguearse y
  para iniciar sesión entonces la landing redirige a esa página rarisimo pvto el
  que lee

  <a class="text-emerald-800 underline underline-offset-2" href="/login"
    >Ir al login</a
  >
</main>
