---
import Layout from "../layouts/Layout.astro";
import imgHero from "../assets/images/reciclage.svg";
import Input from "../components/Input.astro";
---

<Layout title="Inciar sesi칩n">
  <div
    class="bg-gradient-to-b from-emerald-900 via-emerald-950 to-emerald-700
  min-h-screen w-full text-emerald-100 flex flex-col"
  >
    <!-- HEADER CON LOGIN -->
    <header class="min-h-[100px] p-2 shadow-xl px-5">
      <!-- Logo RECICANJE -->
      <div
        class="w-[90%] max-w-[1280px] h-full flex flex-col lg:flex-row justify-between items-center mx-auto"
      >
        <h1 class="text-5xl font-bold">RECICANJE</h1>
        <form action="" class="flex gap-5 items-end flex-wrap">
          <!-- EMAIL -->
          <label for="email" class="flex flex-col">
            <span>Correo electronico</span>
            <Input
              class="p-2 outline-none rounded-lg text-black"
              type="email"
              placeholder="ejemplo@gmail.com"
            />
          </label>
          <!-- CONTRASE칌A -->
          <label for="contrase침a" class="flex flex-col">
            <span>Contrase침a:</span>
            <Input
              id="contrase침a"
              name="contrase침a"
              type="password"
              placeholder="******"
            />
          </label>
          <button class="bg-sky-700 rounded-lg p-3">Ingresar</button>
        </form>
      </div>
    </header>

    <main
      class="w-[90%] max-w-[1280px] mx-auto flex-grow flex items-start pt-[100px]"
    >
      <img
        src={imgHero.src}
        class="absolute md:static
       w-[90%] md:w-[50%] max-h-[500px]"
      />

      <!-- SECCION PARA CREAR CUENTA -->
      <div class="backdrop-blur-md w-full md:w-[50%]">
        <h2 class="text-5xl font-bold">Crea una Cuenta</h2>
        <form id="formRegister" class="flex flex-col gap-1 p-5">
          <!-- Nombre -->
          <label for="nombreRegister">Nombre:</label>
          <Input
            type="text"
            name="nombreRegister"
            id="nombreRegister"
            placeholder="Agustin Alberto"
          />
          <span
            id="errorNombreRegister"
            class="text-rose-400 font-bold text-right hidden"
            >Por favor, ingrese un nombre v치lido.</span
          >
          <!-- Apellido -->
          <label for="apellidoRegister">Apellido:</label>
          <Input
            type="text"
            name="apellido"
            id="apellido"
            placeholder="Agustin Milei Messi"
          />
          <!-- Correo electronico -->
          <label for="correoRegister">Correo Electronico:</label>
          <Input
            type="email"
            name="correoRegister"
            id="correoRegister"
            placeholder="ejemplo@gmail.com"
          />
          <!-- Contrase침a -->
          <label for="correoRegister">Contrase침a:</label>
          <Input
            type="password"
            name="contrase침aRegister"
            id="contrase침aRegister"
            placeholder="******"
          />
          <!-- Confirmar Contrase침a -->
          <label for="correoRegister">Confirmar contrase침a:</label>
          <Input
            type="password"
            name="confirmarContra"
            id="confirmarContra"
            placeholder="******"
          />

          <button type="submit" class="bg-emerald-400 p-2
          rounded-md"
            >Registarse</button
          >
        </form>
      </div>
    </main>
  </div>
</Layout>

<script>
  const formRegister = document.querySelector("#formRegister");

  formRegister.addEventListener("submit", function (event) {
    event.preventDefault(); // Evita que el formulario se env칤e por defecto

    const formData = new FormData(formRegister);

    const nombre = formData.get("nombreRegister");
    const apellido = formData.get("apellido");
    const correo = formData.get("correoRegister");
    const contrase침a = formData.get("contrase침aRegister");
    const confirmarContra = formData.get("confirmarContra");

    if (!nombre.trim()) {
      document.querySelector("#errorNombreRegister").classList.remove("hidden");
      // alert("Por favor, ingrese un nombre v치lido.");
      return;
    }

    if (!/^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/.test(correo)) {
      alert("Por favor, ingrese un correo electr칩nico v치lido.");
      return;
    }

    if (contrase침a.length < 5) {
      alert("Contrase침a invalida, debe tener m치s de 4 caracteres");
    }

    if (contrase침a !== confirmarContra) {
      alert("Las contrase침as no coinciden.");
      return;
    }

    console.log("Nombre:", nombre);
    console.log("Apellido:", apellido);
    console.log("Correo Electr칩nico:", correo);
    console.log("Contrase침a:", contrase침a);
    alert(`Usuario ${nombre} ha creado una cuenta 游땙`);
    formRegister.reset();
  });
</script>
